<h2>Új jelszó beállítása</h2>

<p *ngIf="!token">
  Hiányzó vagy érvénytelen token az URL-ben.
</p>

<form *ngIf="token" (ngSubmit)="onSubmit()">

  <label>Új jelszó</label>
  <input
    type="password"
    name="password"
    [(ngModel)]="password"
  />

  <label>Új jelszó megerősítése</label>
  <input
    type="password"
    name="passwordConfirmation"
    [(ngModel)]="passwordConfirmation"
  />

  <button type="submit" [disabled]="isSubmitting">
    Jelszó módosítása
  </button>
</form>

<p *ngIf="errorMessage">
  {{ errorMessage }}
</p>

<p *ngIf="successMessage">
  {{ successMessage }}
</p>

<p>
  <a routerLink="/">Vissza a belépéshez</a>
</p>

