.login-page {
  display: flex;
  height: calc(100vh - 60px); /* navbar magasság */
  background-color: #ffffff;
}

/* BAL OLDAL */
.login-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand {
  text-align: center;
}

.brand-logo {
  width: 130px;
  margin-bottom: 20px;
}

.brand-title {
  font-size: 38px;
  margin: 0;
}

.brand-subtitle {
  margin-top: 8px;
  font-size: 16px;
  color: #777;
}

/* JOBB OLDAL */
.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 100%;
  max-width: 420px;
  /*text-align: center;*/
}

.login-title {
  font-size: 32px;
  margin-bottom: 8px;
  text-align: center;
}

.login-register {
  margin-bottom: 30px;
  font-size: 14px;
  text-align: center;
}

.login-register a {
  color: #165f4b;
  font-weight: 600;
  text-decoration: none;
}

/* FORM */
.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form-group label {
  margin-bottom: 6px;
  font-size: 14px;
}

.form-group input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
  transition: border-color 0.2s, box-shadow 0.2s;
  background-color: #f3f2f2;
}

.form-group input:focus {
  outline: none;
  border-color: #165f4b;
  box-shadow: 0 0 0 2px rgba(22, 95, 75, 0.15);
}

/* BUTTON */
.login-button {
  margin: 20px auto 0;
  padding: 12px;
  width: 180px;
  background-color: #165f4b;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}

.login-button:hover {
  background-color: #0f4436;
}

.login-button:active {
  transform: translateY(1px);
}

/* FORGOT PASSWORD */
.forgot-password {
  margin-top: 18px;
  text-align: center;
}

.forgot-password a {
  font-size: 14px;
  color: #165f4b;
  text-decoration: none;
}

/* TABLET */
@media (max-width: 1024px) {
  .login-page {
    padding: 0 40px;
  }

  .login-right {
    justify-content: center;
  }
}

/* MOBIL */
@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
    height: auto;
    padding: 40px 20px;
  }

  .login-left {
    margin-bottom: 40px;
  }

  .brand-logo {
    width: 100px;
  }

  .brand-title {
    font-size: 32px;
  }

  .login-card {
    max-width: 100%;
  }

  .login-button {
    width: 100%;
  }
}


.brand-title,
.login-title {
  font-family: var(--font-heading);
}
